<%if logged_in? == false || logged_in? == true%>
<header>
<center> <h1><%=@entry.title%></h1> </center>

<h3><%=@entry.city_name%>, <%=@entry.country_name%></h3>

<p><%=@entry.date%></p>
</header>

<p><%=@entry.content%></p>

<%end%>
  <div class="">

    <% if logged_in? == true && @entry.user_id == current_user.id%>
  <form action="/journal_entries/<%=@entry.id%>/edit">
  <input type="submit" value="Edit">
  </form>

  <form action="/journal_entries/<%=@entry.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
  </form>

  <form action="/user/<%=current_user.id%>">
  <input type="submit" value="My Homepage">
  </form>
  <%else%>
    <% logged_in? == false %>
    <form action="/">
    <input type="submit" value="Homepage ">
    </form>

  <%end%>
</div>
