<% if flash.has?(:notice) %>
<h3><%= flash[:notice] %></h3>
<% end %>
<center>
  <h1>Hello, <%=@user.name %></h1> </center>
    <% if flash.has?(:notice) %>
    <%= flash[:notice] %>
    <%end%>
</center>

  <form action="/journal_entry/new">
    <input type="submit" value="New Journal Entry">
  </form>

<br>
<br>
<h2>Your Travel Experiences:</h2>
<ul>
  <%@entries_all.each do |entry| %>
  <li>
    <a href="/journal_entries/<%=entry.id %>">
      <%=entry.title%> - <%=entry.country_name%>
    </a>
  </li>
  <%end %>
</ul>

<br>
<br>

  <form action="/logout">
    <input type="submit" value="Log Out">
  </form>
